<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons>
        <ion-button color="dark" strong="true" shape="round" id="open-select-passage-modal" (click)="selectPassage.modal.present()">
          {{selectedChapter?.reference || sharedInfo.defaultChapter?.reference}}
        </ion-button>
        <ion-button slot="end" color="dark" strong="true" shape="round" id="open-select-bible-modal">
          {{selectedBible?.abbreviationLocal || sharedInfo.defaultBible?.abbreviationLocal}}
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-slides id="bible-slides" #slide [options]="myOptions" class="h-full w-full" (ionSlideTransitionEnd)="transitionFinished()">
    <ion-slide class="h-full " *ngFor="let slide of showedChapters">
      <ion-text class="h-full overflow-y-scroll px-4 py-4 text-left">
      </ion-text>
    </ion-slide>
  </ion-slides>


  <app-note-selection-sheet #sheet [bible]="selectedBible || sharedInfo.defaultBible" [chapter]="selectedChapter || sharedInfo.defaultChapter" (closeSheetEvent)="closeSelectionSheet($event)"></app-note-selection-sheet>
  <app-select-bible-modal [triggerId]="'open-select-bible-modal'" (bibleSelectedEvent)="bibleChange($event)" (bibleListEvent)="setDefaultData($event)"></app-select-bible-modal>
  <app-select-passage-modal [bible]="selectedBible || sharedInfo.defaultBible" (passageSelectedEvent)="chapterChange($event)"></app-select-passage-modal>
</ion-content>
