<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons>
        <ion-button color="dark" strong="true" shape="round" id="open-select-passage-modal">
          {{selectedChapter?.reference}}
        </ion-button>
        <ion-button slot="end" color="dark" strong="true" shape="round" id="open-select-bible-modal">
          {{selectedBible?.abbreviationLocal}}
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!--<div class="px-4 pt-4 h-full overflow-y-scroll" [innerHtml]="bibleText?.data.content"></div>-->
<!--<p id="testId">
  <span class="verse-span" data-verse-id="GEN.1.1" data-verse-org-ids="GEN.1.1">
    <span data-number="1" data-sid="GEN 1:1" class="v">1</span>
</span>
</p>-->
<ion-content scroll-y="false">
  <ion-slides id="bible-slides" #slide [options]="myOptions" class="h-full w-full" (ionSlideTransitionEnd)="transitionFinished()">
    <ion-slide class="h-full " *ngFor="let slide of showedChapters">
      <ion-text class="h-full overflow-y-scroll px-4 py-4 text-left">

      </ion-text>
    </ion-slide>
  </ion-slides>


  <app-note-selection-sheet #sheet [chapterReference]="selectedChapter?.reference" (closeSheetEvent)="unselectAll()"></app-note-selection-sheet>
  <app-select-bible-modal [availableBibles]="bibles" (bibleSelectedEvent)="bibleChange($event)"></app-select-bible-modal>
  <app-select-passage-modal [bible]="selectedBible" (passageSelectedEvent)="chapterChange($event)"></app-select-passage-modal>
</ion-content>
