<ion-modal #modal [trigger]="triggerId" [isOpen]="isOpen || false" (ionModalDidDismiss)="dismiss()">
  <ng-template>
    <ion-content scroll-y="false">
      <section class="flex flex-col h-full w-full">
      <ion-toolbar class="flex-none">
        <ion-title>Seleccione la biblia</ion-title>
        <ion-buttons slot="end">
          <ion-button color="modalight" (click)="modal.dismiss()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>

      <!-- List of Text Items -->
      <ion-list  class="flex-1 w-full overflow-y-scroll">
        <ion-item-group *ngFor="let langCat of sharedInfo.bibleList">
          <ion-item-divider>
            <ion-label>{{langCat.lang.name}}</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let bible of langCat?.bibles" button (click)="select(bible)">
            <ion-label>{{bible.nameLocal}}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </section>
    </ion-content>
  </ng-template>
</ion-modal>
