section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spinner-container {
  width: 100%;
 // height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 130px;
  place-items:center;
}

.spinner-7 {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #9d9fa6; //808289
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
  }

  .dark .spinner-7 {
    color: #fff;
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }
  
  
  
  // /**/
  // body {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  //   grid-auto-rows: 130px;
  //   place-items:center;
  // }
  
  
  // * {
  //   box-sizing: border-box;
  // }