<ion-card>
  <ion-card-header class="flex justify-between text-left" [style.background]="getCategoryValues()?.color">
    <div>
      <ion-card-title class="font-semibold" [style.color]="getContrastColor()">{{getCategoryValues()?.category}}</ion-card-title>
      <ion-card-subtitle class="font-medium " [style.color]="getContrastColor()">{{formatCardDate(note.date)}}<br>
        <p class="text-lg">{{note.title}}</p>
      </ion-card-subtitle>
    </div>

    <button id="{{index}}" class="w-8 h-8 pt-1 rounded-md card-button">
      <ion-icon class="w-6 h-6" [style.color]="getContrastColor()" name="menu-outline"></ion-icon>
    </button>
    <ion-popover [animated]="true" trigger="{{index}}" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item (click)="noteEditEvent.emit(note)" [button]="true" [detail]="false">Editar</ion-item>
            <ion-item (click)="noteDeleteEvent.emit(note)" [button]="true" [detail]="false">Eliminar</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-card-header>

  <ion-card-content class="mt-2 text-left" style="white-space: pre-line">
    {{note.text}}
  </ion-card-content>
</ion-card>
