.card-button{
 //background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
 background-color: rgba(0,0,0,0.1)
}

.card-button:active {
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.32) 100%);
}

.menu-list ion-item,.menu-list ion-item ion-icon {
  color: #1a629e;
  font-weight: 400;
}

.dark.menu-list ion-item,.dark.menu-list ion-item ion-icon {
  color: #fff;
  font-weight: 400;
}

.dark ion-card-content {
  color: white !important;
}