<app-modal-template #modal title="Añadir versículo">
  <ion-list>
    <ion-item>
      <ion-select
        [(ngModel)]="selectTopicName"
        label="Elige el tema del versículo"
        label-placement="floating"
        placeholder="Tema"
        [multiple]="false"
        (ionChange)="handleSelectChange($event)"
      >
        <ion-select-option
          *ngFor="let topic of getTopicOptions()"
          value="{{ topic.name }}"
          >{{ topic.name }}</ion-select-option
        >
        <ion-select-option value="Nuevo">Nuevo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showNewTopicInput">
      <ion-label position="floating">Nuevo tema</ion-label>
      <ion-input [(ngModel)]="newTopic.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="!addFromBibleStudyPage" lines="false">
      <ion-label>Seleccione el capítulo y la biblia</ion-label>
    </ion-item>
    <div *ngIf="!addFromBibleStudyPage" class="mt-2 flex justify-center">
      <ion-button
        (click)="selectChapter()"
        strong="true"
        fill="solid"
        color="light"
        shape="round"
        class="mr-4"
        id="open-select-passage-modal-from-verse-index"
      >
        {{ selectedChapter?.reference }}
      </ion-button>
      <ion-button
        (click)="selectBible()"
        strong="true"
        fill="solid"
        color="light"
        shape="round"
        id="open-select-bible-modal-from-verse-index"
      >
        {{ selectedBible?.abbreviationLocal }}
      </ion-button>
    </div>

    <ion-item *ngIf="addFromBibleStudyPage">
      <ion-label>{{ verse.passage.reference }}</ion-label>
      <ion-label>{{ verse.bible.reference }}</ion-label>
    </ion-item>

    <ion-item  *ngIf="!addFromBibleStudyPage">
      <ion-input
        label="Versículos separados por coma"
        label-placement="floating"
        [(ngModel)]="verses"
        (ngModelChange)="changeVersesInput($event)"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="showInputMessage">
      <p class="w-full text-center text-red-600">
        Entrada inválida, escriba una lista de versículos o rangos separadas por
        coma. Ej: 1,2-3,4
      </p>
    </ion-item>
    <ion-item *ngIf="showNotFoundMessage">
      <p class="w-full text-center text-red-600">
        El pasaje no se encontra en esta versión
      </p>
    </ion-item>
    <ion-item>
      <!--<ion-textarea [(ngModel)]="verse.text" auto-grow="true" wrap="hard"></ion-textarea>-->
      <p>{{ verse.text }}</p>
    </ion-item>
  </ion-list>
  <p *ngIf="showRedText" class="w-full text-center text-red-600">
    Faltan espacios por llenar
  </p>

  <div class="mt-5 flex justify-center w-full">
    <ion-button color="dark" (click)="saveVerse()">Guardar</ion-button>
  </div>
</app-modal-template>
<!--<ion-modal #modal>
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Añadir versículo</ion-title>
        <ion-buttons slot="end">
          <ion-button color="modalight" (click)="modal.dismiss()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-list>
        <ion-item>
          <ion-label>Elige el tema del versículo</ion-label>
          <ion-select [(ngModel)]="selectTopicName" placeholder="Tema" [multiple]="false" (ionChange)="handleSelectChange($event)">
            <ion-select-option *ngFor="let topic of getTopicOptions()" value="{{topic.name}}">{{topic.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="showNewTopicInput">
          <ion-label position="floating">Nuevo tema</ion-label>
          <ion-input [(ngModel)]="newTopic.name"></ion-input>
        </ion-item>
        <ion-item *ngIf="!addFromBibleStudyPage" lines="false">
          <ion-label>Seleccione el capítulo y la biblia</ion-label>
        </ion-item>
        <div *ngIf="!addFromBibleStudyPage" class="flex justify-around">
          <ion-button (click)="selectChapter()"  fill="clear" color="dark" shape="round" id="open-select-passage-modal-from-verse-index">
            {{selectedChapter?.reference}}
          </ion-button>
          <ion-button (click)="selectBible()" fill="clear" color="dark" shape="round" id="open-select-bible-modal-from-verse-index">
            {{selectedBible?.abbreviationLocal}}
          </ion-button>
        </div>

        <ion-item *ngIf="addFromBibleStudyPage">
          <ion-label>{{verse.passage.reference}}</ion-label>
          <ion-label>{{verse.bible.reference}}</ion-label>
        </ion-item>

        <ion-item *ngIf="!addFromBibleStudyPage">
          <ion-label position="floating">Versículos separados por coma</ion-label>
          <ion-input [(ngModel)]="verses" (ngModelChange)="changeVersesInput($event)"></ion-input>
        </ion-item>
        <ion-item *ngIf="showInputMessage">
          <p class="w-full text-center text-red-600">Entrada inválida, escriba una lista de versículos o rangos separadas por coma. Ej: 1,2-3,4</p>
        </ion-item>
        <ion-item *ngIf="showNotFoundMessage">
          <p class="w-full text-center text-red-600">El pasaje no se encontra en esta versión</p>
        </ion-item>
        <ion-item>
          !--<ion-textarea [(ngModel)]="verse.text" auto-grow="true" wrap="hard"></ion-textarea>--
          <p>{{verse.text}}</p>
        </ion-item>
      </ion-list>
      <p *ngIf="showRedText" class="w-full text-center text-red-600">Faltan espacios por llenar</p>


      <div class="mt-5 flex justify-center w-full">
        <ion-button color="dark" (click)="saveVerse()">Guardar</ion-button>
      </div>

    </ion-content>
  </ng-template>
</ion-modal>-->
