ion-card {
  --background: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
}

ion-item {
  --background: rgba(255,255,255,0.5)
}

.header {
  background-color: rgba(255,255,255,0.5)
}

.myNoteSeletcionSheet {
  --animate-duration: 0.5s;
}

/*.color-markers button:active {
  width: 600px;
}*/
