<ion-card [ngStyle]="{'display':getStatus()? 'block':'none'}" id="note-selection-card" class="z-10 absolute bottom-0 ">

  <ion-item lines="none" class="relative">
    <ion-button class="absolute top-1 left-2 h-8" (click)="closeSheet()" slot="start" fill="clear" shape="round">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-label class="text-center">{{passageReference}}</ion-label>
  </ion-item>

  <ion-card-content>
    <div class="flex justify-between">
      <ion-button fill="clear">
        <ion-icon name="color-palette"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="list"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="document"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="copy"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>


