@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

ion-menu {
  //--menu-color: #255b88;
  --menu-color: #1a629e;
  --menu-sel-color: #8496a6;
  --select-background: rgba(72, 137, 190, 0.434);
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  // --padding-start: 8px;
  // --padding-end: 8px;
  // --padding-top: 20px;
  // --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  //--background: rgba(var(--ion-color-primary-rgb), 0.14);
  --background: var(var(--select-background))
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--menu-color);
}

ion-menu.md ion-item ion-icon {
  color: var(--menu-color);
}

ion-menu.md ion-item ion-label {
  font-weight: 600;
  // font-family: 'Mukta', sans-serif;
  color: var(--menu-color);
}

//Dark
ion-menu.md.dark {
  ion-item.selected ion-icon {
    color: #fff;
  }

  ion-item ion-icon {
    color: #fff;
  }

  ion-item ion-label {
    color: #fff;
  }
}


ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-list#inbox-list {
  padding: 0px 0px !important;
  
  ion-item {
  //  height: 40px;
  }
}

ion-item.selected {
 // --color: var(--ion-color-primary);
}

#menu-header {
  height: 100px;
  width: 100%;
  background: rgb(29,113,184);
  //background: linear-gradient(180deg, rgba(29,113,184,1) 0%, rgba(0,172,233,1) 100%);
  background: linear-gradient(180deg, rgba(29,113,184,1) 40%, rgba(54, 148, 224,1) 100%);
  border-radius: 0px 0px 15px 15px;
  div {
    img {
      height: 50%;
    }
    p {
      // height: 35px;
      font-family: 'Mukta', sans-serif;
      line-height: 30px;
      margin-left: 10px;
      font-size: 25px;
      color: #fff;
    }
  }

}

ion-toggle {
  --track-background: #9eb7cc;
   // background-color: #b4d0e7;
  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}



.cover {
  z-index: 99999999;
  height: 100%;
  width: 0%;
  background-color: #1e1e1e;
}

.color-light {
  background-color: #fff;
}

.show-animate {
  animation-name: show;
  animation-duration: 0.7s;
  animation-timing-function: linear;
}


@keyframes show {
  0% {  
    width: 0%;
    transform: translateX(0%);
  }
  28% { 
    width: 100%;
    transform: translateX(0%);
  }
  72% { 
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
  }

}

.version-msg {
  color: #0f3f66;
}

.dark .version-msg {
  color: white;
}

ion-footer {
  border-radius: 15px 15px 0 0;
  .size-title {
    font-size: 18px;
  }
  .size-msg {
    font-size: 14px;
  }
  // width: 304px;
  // padding: 0px;
  // margin: 16px;
}




