<ion-app>
  <div
    id="theme-cover"
    class="cover 
  {{ showAnimate ? 'show-animate' : '' }}
  {{ lightAnimation ? 'color-light' : '' }}
  "
  ></div>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      class="{{ darkMode ? 'dark' : '' }}"
    >
      <ion-content>
        <div id="menu-header" class="flex justify-start">
          <div class="flex-none pl-4 pr-2 h-full flex items-center">
            <img src="../assets/only_logo_1.png" />
          </div>
          <div class="flex-1 h-full flex items-center">
            <p>{{ header_title }}</p>
          </div>
        </div>

        <ion-list id="inbox-list">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              button
              lines="none"
              detail="false"
              [routerLink]="p.url"
              routerLinkActive="selected"
            >
              <ion-icon
                class="text-black"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item>
          <ion-label>{{
            darkMode
              ? config.getData().menu.theme[1]
              : config.getData().menu.theme[0]
          }}</ion-label>
          <ion-toggle color="btprimary"
            [ngModel]="darkMode"
            (ngModelChange)="changeTheme()"
          ></ion-toggle>
        </ion-item>
          
        <ion-item>
          <ion-range color="btprimary"
            aria-label="Font Size"
            [ticks]="true"
            [snaps]="true"
            [min]="1"
            [max]="7"
            [value]="config.settings.options?.fontSize || 1"
            (ionChange)="onRangeChange($event)"
          >
            <ion-icon slot="start" size="small" name="text"></ion-icon>
            <ion-icon slot="end" name="text"></ion-icon>
          </ion-range>
        </ion-item>
        @if(allowExportToJson){     
          <ion-item button (click)="exportDatabase()">
            <ion-label>Exportar Datos</ion-label>
            <ion-icon name="download"></ion-icon>
          </ion-item>
          <ion-item button (click)="importDatabase()">
            <ion-label>Importar Datos</ion-label>
            <ion-icon name="download"></ion-icon>
          </ion-item>
        }
        <ion-item button (click)="openPolicy()" lines="none">
          <ion-label>Política de Privacidad</ion-label>
          <ion-icon name="information-circle" slot="start"></ion-icon>
        </ion-item>
        
      </ion-content>
      <ion-footer
      color="btprimary"
        *ngIf="versionMessage"
        class="version-msg p-3 ion-activatable ripple-parent"
        (click)="openGooglePlay(versionMessage.url)"
      >
      <ion-ripple-effect></ion-ripple-effect>
      <div>
        <p class="size-title font-bold">{{ versionMessage.title }}</p>
        <p class="size-msg">{{ versionMessage.msg }}</p>
      </div>

      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

    <jeep-sqlite *ngIf="isWeb"></jeep-sqlite>
  </ion-split-pane>
</ion-app>
