.segment-background {
  background-color: white;
 }

.dark .segment-background {
  background-color: #121212;;
 }

ion-segment::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ion-segment {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

ion-segment-button {
  --indicator-color: rgba(255, 255, 255, 0);
}
