.segment-background {
  background-color: white;
 }

.dark .segment-background {
  background-color: #121212;;
 }

ion-segment::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ion-segment {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

// .indicator-hided ion-segment-button {
//   --indicator-color: rgba(255, 255, 255, 0);
// }


.indicator-hided ion-segment-button::part(indicator-background) {
  background: #fff0;
}

#custom-indicator {
  background-color: #1D71B8;
  height: 2px;

}

.animate {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left, width;
}


