<app-modal-template #modal [title]="title" (modalDidPresent)="modalPresented()" (closedEvent)="resetValues()">
  <ion-slides
    *ngIf="showSlides"
    #slide
    [options]="myOptions"
    class="flex-1 w-full"
    (ionSlideTransitionEnd)="transitionFinished()"
  >
    <ion-slide class="h-full">
      <!-- <div class="flex flex-wrap justify-around overflow-y-scroll h-full">
        <ion-button
          class="w-5/12"
          shape="round"
          color="medium"
          fill=""
          *ngFor="let book of bookList"
          (click)="setBook(book)"
        >
          {{ book.name }}
        </ion-button>
      </div> -->
      <div class="overflow-y-scroll h-full w-full">
        <ion-list class="">
          <ion-item *ngFor="let book of bookList"  (click)="setBook(book)" button>
            <ion-label>{{ book.name }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide class="h-full w-full">
      <div
        class="grid grid-cols-4 h-full w-full overflow-y-scroll"
        *ngIf="chapterList?.length > 0; else spinner"
      >
        <ion-button
          class=""
          shape="round"
          color="medium"
          fill=""
          *ngFor="let chapter of chapterList"
          (click)="setChapter(chapter)"
        >
          {{ chapter.number }}
        </ion-button>
        <div class=" h-20 col-span-4"></div>
      </div>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="returnToPrev()">
        <ion-fab-button color="medium">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
  </ion-slides>


</app-modal-template>

<ng-template #spinner>
  <div class="flex flex-wrap justify-around h-full overflow-y-scroll">
    <ion-item class="mt-9">
      <ion-spinner name="circles"></ion-spinner>
    </ion-item>
  </div>
</ng-template>



