<ion-header>
  <ion-toolbar [color]="config.TOOLBAR_COLOR">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Versiones sin conexión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="flex-1 w-full overflow-y-scroll h-full">
    @for (bible of biblesData; track bible) {
    <div>
      <ion-item
        button
        (click)="toDelete(bible.status)? deleteBible(bible):select(bible)"
      >
        <ion-label>{{bible.nameLocal}}</ion-label>
        @if (bible.status == status.NO_STORED) {
        <ion-icon color="btprimary" name="download-outline"></ion-icon>
        } @if (bible.status == status.DOWNLOADING) {
        <ion-icon color="btprimary" name="close"></ion-icon>
        } @if (bible.status == status.JUST_STORED) {
        <ion-icon color="btprimary" name="checkmark"></ion-icon>
        } @if (bible.status == status.ALREADY_STORED) {
        <ion-icon color="btprimary" name="checkmark-circle-outline"></ion-icon>
        }
      </ion-item>
      @if (bible.status == status.DOWNLOADING) {
      <ion-progress-bar
        color="btprimary"
        [value]="bible.progress"
      ></ion-progress-bar>
      } @if (bible.status == status.DELETING) {
      <ion-progress-bar
        color="btprimary"
        type="indeterminate"
      ></ion-progress-bar>
      }
    </div>
    }
  </ion-list>

  <p></p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p class="text-center p-2">
      Seleccione la versión de la biblia que desee descargar. Si ya la tiene
      descargada, podrá eliminarla.
    </p>
  </ion-toolbar>
  <!-- <p> Seleccione la versión de la biblia que desee descargar.</p> -->
</ion-footer>
