<ion-header>
  <ion-toolbar [color]="config.TOOLBAR_COLOR">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Descargar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list  class="flex-1 w-full overflow-y-scroll h-full">
          <div *ngFor="let bible of biblesData">
            <ion-item button (click)="select(bible)">
                <ion-label>{{bible.nameLocal}}</ion-label>
                <ion-icon color="btprimary" *ngIf="bible.status == 0" name="download-outline"></ion-icon>
                <ion-icon color="btprimary" *ngIf="bible.status == 1" name="close"></ion-icon>
                <ion-icon color="btprimary" *ngIf="bible.status == 2" name="checkmark"></ion-icon>
              </ion-item>
              <ion-progress-bar  color="btprimary" *ngIf="bible.status == 1" [value]="bible.progress"></ion-progress-bar>
              
          </div>
      </ion-list>
</ion-content>
