.segment-background {
  background-color: white;
 }

.dark section div.segment-background {
  background-color: #121212;;
 }

ion-segment::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ion-segment {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

ion-fab {
  --animate-duration: 0.5s;
}


 .scrolled-slide {
  scroll-behavior: smooth;
}

.scroll {
  overflow-y: scroll;
  touch-action: pan-y;
}

swiper-slide ion-button {
  --border-width: 1px;
}

.dark ion-card-content,.dark ion-card ion-item ion-label {
  color: white !important;
}

.menu-list ion-item,.menu-list ion-item ion-icon {
  color: #1a629e;
  font-weight: 400;
}

.dark .menu-list ion-item,.dark .menu-list ion-item ion-icon {
  color: #fff;
  font-weight: 400;
}